body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

}


.welcome-title {
    text-align: center;
    color: #db34c5;
    margin-bottom: 20px;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.cart {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ec15a5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


.item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}

.quantity-btn,
.like-btn,
.delete-btn {
    cursor: pointer;
    font-size: 1.2em;
    margin: 0 5px;
}

.like-btn {
    color: black;
}

.delete-btn {
    color: red;
}

.total {
    font-size: 1.5em;
    margin-top: 20px;
}